.contenedor{
    position: relative;
    display: inline-block;
    text-align: center;
}

.centrado{
    position: absolute;
    top: 75%;
    left: 60%;
    transform: translate(-50%, -50%);
    color: white;
}

.centrado2{
    position: absolute;
    top: 95%;
    left: 70%;
    transform: translate(-50%, -50%);
}

.padding{
    padding-top: 25px;
    padding-inline-start: 50px;
}

.padding-logo{
    padding-right: 150px;
}

.margin{
    margin-left: 250px;
}

.background1{
    background: rgb(16, 53, 109);
}

.bottomright {
    height: auto;   
    position: absolute;
    text-align: right;
    color: rgba(255, 255, 255, 0.904);    
    max-width: 600px; 
}

.bottom{
    height: auto;
    width: auto;
    position: absolute;
    font-size: 18px;
}

.position-center{
    width: auto;
    margin-right: 350px;
    margin-left: 350px;
    margin-bottom: 20px;
}

.bottom-1{
    padding-bottom: 25px;
}

.espacio{
    padding-top: 25px;
}

.margin1{
    margin-top: 50px;
    margin-bottom: 10px;
}

.margin2{
    margin-right: 10px ;
}

.padding2{
    padding-left: 150px;
    padding-right: 150px;
}

.padding3{
    padding-right:200px;
    padding-left: 200px;  
}